<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <title>Demand predictor</title>

</head>

<body id="page-top">

 <!-- Takes in input and yields output -->
<section class="bg-primary mb-0" id="try">
  <div class="container">
    <h2 class="text-center">Title demand predictor</h2>
          <div class="col-sm m-3 text-center">
                <form action="/output" method="GET" id="user_input">
                      <label for = "title">Book title :</label>
                      <input class="form-control" type="text" id="user_input" name='title' placeholder="e.g. Harry Potter and the Philosopher's Stone">
                      <label for = "author">Author name :</label>
                      <input class="form-control" type="text" id="user_input" name='author' placeholder="e.g. Proust, Marcel">
                      <label for = "publisher">Publisher name :</label>
                      <input class="form-control" type="text" id="user_input" name='publisher' placeholder="e.g. Gallimard,">
                      <label for = "page_count">Number of pages:</label>
                      <input class="form-control" type="text" id="user_input" name='page_count' placeholder="e.g. 354">
                      <label>Document-type</label>
                      <select id = "user_input" name = 'type_info'>
                        <option value = "LV_Fiction J">Fiction for children</option>
                        <option value = 'LV_Documentaire J'>Non-fiction for children</option>
                        <option value = "LV_Référence J">Reference for children</option>
                        <option value = "LV_Gros caractères J">Large font for children</option>
                        <option value = "LV_Fiction A">Fiction for adults</option>
                        <option value = "LV_Documentaire A">Non-fiction for adults</option>
                        <option value = "LV_Référence A">Reference for adults</option>
                        <option value = "LV_Gros caractères A">Large font for adults</option>
                        <option value = "LV_Braille">Braille</option>
                      </select>
                      <label>Language</label>
                      <select class="mdb-select md-form colorful-select dropdown-danger" id = "user_input" name = 'language'>
                        <option value = "fre">Français</option>
                        <option value = "eng">English</option>
                        <option value = "rus">Russian</option>
                        <option value = "chi">Chinese</option>
                        <option value = "spa">Spanish</option>
                        <option value = "jpn">Japanese</option>
                        <option value = "pol">Polish</option>
                        <option value = "ita">Italian</option>
                        <option value = "per">Persian</option>
                        <option value = "ger">German</option>
                        <option value = "por">Portugese</option>
                        <option value = "gre">Greek</option>
                        <option value = "tur">Turkish</option>
                      </select>
                    <label>Country of publication</label>
                    <select class="mdb-select md-form colorful-select dropdown-danger" id = "user_input" name = 'country'>
                      <option value = "quc">Québec</option>
                      <option value = "be">Belgium</option>
                      <option value = "xxc">Canada</option>
                      <option value = "fr">France</option>
                      <option value = "sz">Switzerland</option>
                      <option value = "xxk">United Kingdom</option>
                      <option value = "xxu">United States</option>
                      <option value = "ts">Other</option>
                    </select>
                </form>
          </div>
          <p></p>
   <div class="justify-content-center">
         <button type="submit" class="btn-lg btn-warning" form="user_input">Go!</button>
  </div>

  {% if my_form_result=='Empty' %}
  <div class="row mt-4 justify-content-center">
        <h4 class="text-danger text-center text-uppercase">At least one field is missing input.</h4>
  </div>

  {% elif my_form_result=='NotEmpty' %}

  <div class="row mt-4 justify-content-center">
        <h4 class="text-light text-center text-uppercase">Results:</h4>
  </div>
  <div class="row p-1 m-1 justify-content-center">
        <div class="col-md- w-50 list-group">
               <ul class="list-group">
               <h4 class="text-center">
                  <p>{{my_input}}</p>
                  <p>{{output_1}}</p>
                  <p>{{output_2}}</p>
                  <p>{{output_3}}</p>
              </h4>
              </ul>
        </div>
  </div>

  {% else %}
  {% endif %}
  {% for table in tables%}
    {{table|safe}}
  {%endfor%}
  </div>
</section>

</body>

</html>
