<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Demand predictor</title>

</head>

<body class="" id="page-top">
<div class="text-center">
 <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
</div>
 <!-- Takes in input and yields output -->
<section class="" id="try">
  <div class="container">
    <h1 class="text-center">Why Not Buy 2?</h1>
    <h4 class="text-center">A title demand predictor for books</h4>
          <div class="text-center">
                <form action="/output" method="GET" id="user_input">
                      <label for = "title" class = "h5">Book title :</label>
                      <input class="form-control" type="text" id="user_input" name='title' placeholder="e.g. Harry Potter and the Philosopher's Stone">
                      <label for = "author" class = "h5">Author name :</label>
                      <input class="form-control" type="text" id="user_input" name='author' placeholder="e.g. Proust, Marcel">
                      <label for = "publisher" class ="h5">Publisher name :</label>
                      <input class="form-control" type="text" id="user_input" name='publisher' placeholder="e.g. Gallimard">
                      <label class='h5'>Document-type</label>
                      <select id = "user_input" name = 'type_info'>
                        <option value = "LV_Fiction J">Fiction for children</option>
                        <option value = 'LV_Documentaire J'>Non-fiction for children</option>
                        <option value = "LV_Référence J">Reference for children</option>
                        <option value = "LV_Gros caractères J">Large font for children</option>
                        <option value = "LV_Fiction A">Fiction for adults</option>
                        <option value = "LV_Documentaire A">Non-fiction for adults</option>
                        <option value = "LV_Référence A">Reference for adults</option>
                        <option value = "LV_Gros caractères A">Large font for adults</option>
                        <option value = "LV_Braille">Braille</option>
                      </select>
                      <label class='h5'>Language</label>
                      <select class="" id = "user_input" name = 'language'>
                        <option value = "fre">Français</option>
                        <option value = "eng">English</option>
                        <option value = "rus">Russian</option>
                        <option value = "chi">Chinese</option>
                        <option value = "spa">Spanish</option>
                        <option value = "jpn">Japanese</option>
                        <option value = "pol">Polish</option>
                        <option value = "ita">Italian</option>
                        <option value = "per">Persian</option>
                        <option value = "ger">German</option>
                        <option value = "por">Portugese</option>
                        <option value = "gre">Greek</option>
                        <option value = "tur">Turkish</option>
                      </select>
                    <label class='h5'>Country of publication</label>
                    <select class="" id = "user_input" name = 'country'>
                      <option value = "quc">Québec</option>
                      <option value = "be">Belgium</option>
                      <option value = "xxc">Canada</option>
                      <option value = "fr">France</option>
                      <option value = "sz">Switzerland</option>
                      <option value = "xxk">United Kingdom</option>
                      <option value = "xxu">United States</option>
                      <option value = "other">Other</option>
                    </select>
                </form>
          </div>
          <p></p>
   <div class="justify-content-center">
         <button type="submit" class="btn-lg btn-warning" form="user_input">Go!</button>
  </div>

  {% if my_form_result=='Empty' %}
  <div class="justify-content-center">
        <h4 class="text-danger text-center text-uppercase">At least one field is missing input.</h4>
  </div>

  {% elif my_form_result=='NotEmpty' %}

  <div class="justify-content-center">
        <h4 class="text-light text-center text-uppercase">Results:</h4>
  </div>
  <div class="">
        <div>
                  <p>{{my_input}}</p>
                  <p class = "h5">{{output_1}}</p>
                  <p class = "h5">{{output_2}}</p>
                  <p class = "h5">{{output_3}}</p>
        </div>
  </div>

  {% else %}
  {% endif %}
  <!-- {% for table in tables%}
    {{table|safe}}
  {%endfor%} -->
  </div>
</section>

</body>

</html>
